@tailwind base;
@tailwind components;
@tailwind utilities;

.navlinks > li {
  margin: 0rem 1rem 0rem 1rem;
  font-weight: 500;
}

.hero-section{
  background-image: url('./images/hero.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 90%;
  margin-top: 8rem;
  min-width: 80%;
}

.navlinks > li:hover {
  color:blue;
  cursor: pointer;
}

/* li:after{
  content: "";
  background-color: blue;
  height: 4px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
} */

#explore-button{
  border-radius: 0.5rem;
  background-color: blue;
  padding: 0.5rem 3rem;
  border: none;
}